<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evidence zboží</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Evidence zboží</h1>
<a href="{% url 'home' %}">Home</a><br>
<a href="{% url 'add_pojisteny' %}">Přidat nové zboží</a><br>
<a href="{% url 'list_pojistencu' %}">Zobrazit všechny pooložký</a>
<br>
<br>
  <form method="GET" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Zadejte jméno nebo přijmení">
        <button type="submit">Hledat</button>
    </form>
 <!-- Вывод списка застрахованных -->
    {% if pojistencis %}
        <ul>
        {% for pojisteny in pojistencis %}
            <li>{{ pojisteny.jmeno }} {{ pojisteny.prijmeni }} - Telefon: {{ pojisteny.telefon }} - Věk: {{ pojisteny.vek }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Žádní pojištěnci nebyli nalezeni.</p>
    {% endif %}
  
</body>
</html>
